
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>welcome</title>
</head>
<body>
    <div>
        <h1>Welcome to ASP.Net MVC Learning. wish you Happy Learning</h1>
    </div>
</body>
</html>
