* {
    margin: 0;
    padding: 0;
}
div.register {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}

form#register {
    margin: 40px;
}
div.main {
    width: 400px;
    margin: 100px auto 0px auto;
}
.card-body
{
    padding-left:30px;
    padding-top:10px;
}